<form [@creation] name="commitForm" class="commit-block">
  <h3>Commit changes</h3>
  <div class="input-wraper">
    <input name="commitMessage" class="form-control" type="text" [(ngModel)]="commitMessage" ng-focus="onFocusCommitMessageInput()"
      placeholder="Type a message for your commit" required />
      <textarea [@creation] name="commitDescription" class="form-control" [(ngModel)]="commitDescription" *ngIf="status == 'open'"
      placeholder="Give a description to the commit. Tell more about your changes..."></textarea>
  </div>
  <button type="button" *ngIf="status == 'open'" class="btn btn-primary"
    (click)="commitSelectedChanges()">
    Commit
  </button>
</form>
