@import '../../../variables';

.commit-block {
  // box-shadow: 0 4px 10px -2px rgba(1, 1, 1, 0.3);
  overflow: hidden;
  background-color: $base-background-color;
  transition: height 0.2s ease;

  h3 {
    color: #111;
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 0;
    font-size: 1em;
    font-weight: bolder;
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;


    button {
      margin: 10px;
      margin-top: 0;
    }
  }

  textarea {
    height: 100px;
  }

  .input-wraper {
    padding: 10px;

    input,
    h3 {
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 20px;
    }
  }
}
