.nav {
  display: flex;
  height: 50px;
  background-color: #636e73;
  color: #CCCCCC;

  .item {
    padding: 10px;

    .icon {
      cursor: pointer;
    }

    .text {
      padding-left: 5px;
      cursor: pointer;
    }
  }

  .left {
    flex: 1;
    display: flex;
    align-items: center;
  }

  .center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.spinner {
  width: 25px;
  height: 25px;
  border: 2px solid #f3f3f3;
  /* Light grey */
  border-top: 2px solid #3498db;
  /* Blue */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
