.nav {
  display: flex;
  height: 50px;
  background-color: #636e73;
  color: #CCCCCC;

  .item {
    padding: 10px;

    .icon {
      cursor: pointer;
    }
  }

  .left {
    flex: 1;
    display: flex;
    align-items: center;
  }

  .center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
