<div class="main">
  <div class="repoMissing" *ngIf="!currentRepository">
    <span>Select a repository to start</span>
  </div>
  <div class="content" [hidden]="!currentRepository">
    <div class="content-left">
      <app-create-commit (onCommit)="commitSelectedChanges($event)" [status]="createCommitStatus"></app-create-commit>
      <app-commits class="commits" [historyList]="historyList" (commitSelected)="selectCommit($event)"></app-commits>
    </div>
    <div class="content-right">
      <div class="main">
        <tabset #tabs [justified]="true">
          <tab heading="History" (selectTab)="onSelect($event)" customClass="customTab">
              <app-commit *ngIf="selectedCommit" [type]="'history'" [changes]="commitHistory" [selectedCommit]="selectedCommit.commit"></app-commit>
          </tab>
          <tab heading="Changes" (selectTab)="onSelect($event)">
            <app-commit [type]="'actual'" [changes]="commitChanges"></app-commit>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
