<!-- <ul>
  <li class="commit-number">
    <div ng-show="commitNumber != 'counting' && commitNumber.length > 0">
      <span class="octicon octicon-git-commit"></span> {{ commitNumber | number:0}} commits
    </div>
    <div ng-show="commitNumber == 'counting'">
      {{ MSGS["Counting..."] }}
    </div>
  </li>
  <li ng-repeat="commit in appCtrl.repositoryHistory" ng-class="{ selected:commit.selected }"
    ng-click="appCtrl.showCommitChanges(commit)">
    <div class="{{ commit.user.trim().toLowerCase()[0] }} thumb">
      {{ commit.user.trim()[0] }}
    </div>
    <div class="commit-message" ng-bind-html="commit.message | trustAsHtml"></div>
    <div class="commit-details"><span class="date">{{ commit.date }} by</span> {{ commit.user }} </div>
  </li>
</ul> -->
<div class="commits">
  <ul>
    <li>
      <span>{{ historyList?.length }} commits</span>
    </li>
    <li *ngFor="let commit of historyList" (click)="selectCommit(commit, true)">
      <div class="thumb">
        {{ commit.user.trim()[0] }}
      </div>
      <div class="message">{{ commit.message }}</div>
      <div class="details"><span class="date">{{ commit.date }} by {{ commit.user }}</span></div>
    </li>
  </ul>

</div>
