.commits {
  ul {
    list-style: none;
    padding: 0px;

    li {
      border-bottom: #DDD 1px solid;
      padding: 15px;
      cursor: pointer;
      word-wrap: break-word;

      &:hover {
        background-color: #DBDEE0;
      }

      .thumb {
        background-color: #bd6eca;
        border-radius: 50%;

        width: 40px;
        color: rgba(255, 255, 255, 0.75);
        float: left;
        margin-right: 10px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        text-transform: uppercase;
        font-weight: bold;
      }

      .message {
        font-size: 1.2em;
        color: #111;
        margin-bottom: 5px;
      }

      .details {

        .date {
          color: #999;
          display: inline-block;
        }
      }
    }
  }
}
