.commit-message {
  padding: 15px;
  border-bottom: #DDD 1px solid;
  word-break: break-word;

  .h {
    margin: 0;
    font-weight: normal;
  }

  h2 {
    @extend .h;
  }

  h4 {
    @extend .h;
    color: #1B577E;
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 1em;
  }

  .commit-body {
    white-space: pre-line;
    line-height: 1.5;
    margin: 0;
    color: #666;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
  }
}

ul {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;

  li {
    border-bottom: #DDD 1px solid;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    word-wrap: break-word;

    header {
      display: flex;
      flex-flow: row;
      align-items: center;
      padding: 10px 25px;

      .item {
        margin-right: 10px;
      }

      .label {
        margin-left: auto;
      }
    }
  }
}

.actual, .history {
  display: flex;
  flex-flow: column;
  height: calc(100vh - 88px);

  ul {
    overflow: scroll;
  }
}

.label {
  padding: 3px 10px;
  border-radius: 2px;
  font-weight: bold;
  color: #FFF;
}

.label-modified {
  @extend .label;
  background-color: #ffaf00;
}

.label-new {
  @extend .label;
  background-color: #6CC644;
}

.label-added {
  @extend .label-new;
}

.label-deleted {
  @extend .label;
  background-color: #D7431B;
}

.label-unmerged {
  @extend.label;
  background-color: #BD4F32;
}

.label-renamed {
  @extend .label;
  background-color: #773F22;
}

.label-binary {
  @extend .label;
  color: #986B45;
  display: inline-block;
  background-color: #F5E8DB;
}
