/* You can add global styles to this file, and also import other style files */
@import './variables';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-size: 14px;
}

html {
  overflow: hidden;
}

body {
  position: fixed;
  width: 100%;
  height: 100%;
}

* {

  /* Scrollbar style */
  &::-webkit-scrollbar-track {
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar {
    width: 11px;
    height: 11px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    border: 2px #F5F5F5 solid;
  }
}

code {
  white-space: pre;
  font-size: 0.9em;
  word-wrap: normal;
  word-break: break-word;
  display: -webkit-box;
  width: 100%;
  overflow: auto;

  .diff-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    color: #222;
    box-sizing: border-box;

    tbody {

      tr.minor {
        background-color: #FFECEC;

        td.line-number {
          background-color: #ffdddd;
          border-color: #f1c0c0;
        }
      }

      tr.plus {
        background-color: #EAFFEA;

        td.line-number {
          background-color: #dbffdb;
          border-color: #c1e9c1;
        }
      }

      tr.chunk {
        background-color: #F4F7FB;
        color: rgba(0, 0, 0, 0.3);

        .diff-icon {
          text-align: center;
        }
      }

      tr {

        td {
          border-right: 1px solid #DDD;
          white-space: pre;
          word-wrap: normal;
          padding: 5px;

          .pln {
            color: #222;
          }

          .str {
            color: #183691;
          }

          .kwd {
            color: #a71d5d;
          }

          .com {
            color: #93a1a1;
          }

          .typ {
            color: #795da3;
          }

          .lit {
            color: #0086b3;
          }

          .pun,
          .opn,
          .clo {
            color: #222;
          }

          .tag {
            color: #63a35c;
          }

          .atn {
            color: #795da3;
          }

          .atv {
            color: #183691;
          }

          .dec,
          .var {
            color: #606;
          }

          .fun {
            color: red;
          }
        }

        td.line-number {
          text-align: right;
          color: rgba(0, 0, 0, 0.3);
          -webkit-user-select: none;
          width: 1%;
          min-width: 30px
        }

        td.indicator {
          width: 1% !important;
          border: 0;
          font-size: 0.9em;
        }
      }
    }
  }
}

#loader {
  bottom: 0;
  height: 175px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 175px;
}

#loader {
  bottom: 0;
  height: 175px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 175px;
}

#loader .dot {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 87.5px;
}

#loader .dot::before {
  border-radius: 100%;
  content: "";
  height: 87.5px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(0);
  width: 87.5px;
}

#loader .dot:nth-child(7n+1) {
  transform: rotate(45deg);
}

#loader .dot:nth-child(7n+1)::before {
  animation: 0.8s linear 0.1s normal none infinite running load;
  background: #00ff80 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+2) {
  transform: rotate(90deg);
}

#loader .dot:nth-child(7n+2)::before {
  animation: 0.8s linear 0.2s normal none infinite running load;
  background: #00ffea none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+3) {
  transform: rotate(135deg);
}

#loader .dot:nth-child(7n+3)::before {
  animation: 0.8s linear 0.3s normal none infinite running load;
  background: #00aaff none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+4) {
  transform: rotate(180deg);
}

#loader .dot:nth-child(7n+4)::before {
  animation: 0.8s linear 0.4s normal none infinite running load;
  background: #0040ff none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+5) {
  transform: rotate(225deg);
}

#loader .dot:nth-child(7n+5)::before {
  animation: 0.8s linear 0.5s normal none infinite running load;
  background: #2a00ff none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+6) {
  transform: rotate(270deg);
}

#loader .dot:nth-child(7n+6)::before {
  animation: 0.8s linear 0.6s normal none infinite running load;
  background: #9500ff none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+7) {
  transform: rotate(315deg);
}

#loader .dot:nth-child(7n+7)::before {
  animation: 0.8s linear 0.7s normal none infinite running load;
  background: magenta none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+8) {
  transform: rotate(360deg);
}

#loader .dot:nth-child(7n+8)::before {
  animation: 0.8s linear 0.8s normal none infinite running load;
  background: #ff0095 none repeat scroll 0 0;
}

#loader .loading {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  bottom: -40px;
  height: 20px;
  left: 0;
  position: absolute;
  right: 0;
  width: 180px;
}

@keyframes load {
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes load {
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.spinner-message {
  text-align: center;
}