<div class="home">
  <div class="repoMissing" *ngIf="!currentRepository">
    <span>Select a repository to start</span>
  </div>
  <div class="content" *ngIf="currentRepository">
    <div class="content-left">
      <app-create-commit [status]="createCommitStatus"></app-create-commit>
      <app-commits class="commits" (commitSelected)="selectCommit($event)"></app-commits>
    </div>
    <div class="content-right">
      <app-main #mainComponent [selectedCommit]="selectedCommit" (selectedTab)="selectTab($event)"></app-main>
    </div>
  </div>
</div>
