<div class="home">
  <div class="repoMissing" *ngIf="!currentRepository">
    <span>Select a repository to start</span>
  </div>
  <div class="content" *ngIf="currentRepository">
    <div class="content-left">
      <app-create-commit [status]="getCreateCommitStatus()"></app-create-commit>
      <app-commits class="commits" (commitSelected)="selectedCommit = $event"></app-commits>
    </div>
    <div class="content-right">
      <app-main [selectedCommit]="selectedCommit" (selectedTab)="selectedTab = $event"></app-main>
    </div>
  </div>
</div>
