.home {
  height: 100%;

  .repoMissing {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;

    span {
      text-align: center;
      font-weight: lighter;
      font-size: 2.5em;
    }
  }
}
