.home {
  height: 100%;

  .repoMissing {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;

    span {
      text-align: center;
      font-weight: lighter;
      font-size: 2.5em;
    }
  }

  .content {
    display: flex;
    height: inherit;

    .content-left {
      display: flex;
      flex-flow: column;
      width: 35%;
      height: calc(100vh - 50px);

      .commits {
        flex: 2;
        overflow: auto;
      }
    }

    .content-right {
      width: 65%;
    }
  }
}

