.settings {

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: 300;
    opacity: 0.5;
  }

  .dialog {
    position: absolute;
    top: 0;
    left: 0;
    width: 65%;
    height: 100%;
    z-index: 1000;
    margin-left: 100%;
    background-color: #fff;
    box-shadow: 4px 4px 40px #333;
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease;

    .header {
      width: 100%;
      height: 50px;
      z-index: 9;
      background-color: #636e73;
      color: #CCCCCC;
      -webkit-app-region: drag;
      display: flex;
      flex-direction: row;

      .title {
        font-size: 1.4em;
        font-weight: bold;
        padding: 12px 20px;
        color: #FFF !important;

        fa-icon {
          font-size: 24px;
          margin-right: 15px;
          cursor: pointer;
        }

        span {
          font-size: 24px;
        }
      }
    }

    .body {}
  }
}
