<div class="settings">
  <div (click)="close()" class="overlay" [@changeOverlayState] *ngIf="isShown"></div>
  <div class="dialog" [@changeDivSize]="currentState">
    <div class="header">
      <div class="title">
        <fa-icon [icon]="faArrowLeft" (click)="close()"></fa-icon>
        <span>{{ 'SETTINGS.TITLE' | translate }}</span>
      </div>
    </div>
    <div class="body">
      <ul>
        <li>
          <div class="label">
            {{ 'SETTINGS.PREFERENCES' | translate }}
          </div>
          <ul>
            <li>
              <section>
                <div class="label-field">
                  {{ 'SETTINGS.LANGUAGE' | translate }}
                </div>
                <select class="custom-select" [value]="selectedLanguage"
                  (change)="changeAppLanguage($event.target.value)">
                  <option *ngFor="let language of languages" [value]="language.value">{{ language.text }}</option>
                </select>
              </section>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
